<p id="notice"><%= notice %></p>

<h1>Questions<h4><%=link_to('homeback','/')%></h4></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.body %></td>
        <td><%= link_to '詳細を見る', question %></td>
        <td><%= link_to '編集する', edit_question_path(question) %></td>
        <td><%= link_to '削除する', question, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
