<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @article.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @article.detail %>
</p>

<p>
  <strong>Image:</strong>
  <%= @article.image.url %>
  <%= image_tag @article.image.url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<%= link_to 'Back', articles_path %>


